.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wrapper{
  display: flex;
  width:300%;
  position: relative;
  transition: transform 1s;
  left: 100vw;
}

.hidden {
  display: none;
}

.center{
  transform: translateX(-100vw);
}

.right{
  transform: translateX(-200vw);
}

.next{
  position: absolute;
  top: 42%;
  right: 10%;
  height: 4.1em;
  padding: 0 0.5em 0 1em;
  margin-top: 0.1em;
  z-index: 1;
  display: flex;
  transform: rotate(180deg)
}

.previous{
  position: absolute;
  top: 42%;
  left: 10%;
  height: 4.1em;
  padding: 0 0.5em 0 1em;
  margin-top: 0.1em;
  z-index: 1;
  display: flex;
}