.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wrapper{
  display: flex;
  width:300%;
  position: relative;
  transition: transform 1s;
  left: 100vw;
}

.hidden {
  display: none;
}

.center{
  transform: translateX(-100vw);
}

.right{
  transform: translateX(-200vw);
}

.next{
  position: absolute;
  top: 42%;
  right: 10%;
  height: 9vmin;
  padding: 0 0.5em 0 1em;
  margin-top: 0.1em;
  z-index: 1;
  display: flex;
  transform: rotate(180deg)
}

.next{
  right: 10%;
}

.previous{
  position: absolute;
  top: 42%;
  left: 10%;
  height: 9vmin;
  padding: 0 0.5em 0 1em;
  margin-top: 0.1em;
  z-index: 1;
  display: flex;
}



@media (max-width: 1100px) {
.next{
  right: 5%;
}

.previous{
  left: 5%;
}
}

@media (max-width: 830px) {
  .next{
    right: 1em;
  }
  
  .previous{
    left: 1em;
  }
  }

  @media (max-width: 540px) {
    .next{
      right: 35%;
      top:85%;
    }
    
    .previous{
      left: 35%;
      top:85%;
    }
    }
    @media (max-width: 400px) {
      .next{
        right: 35%;
        top:75%;
      }
      
      .previous{
        left: 35%;
        top:75%;
      }
      }