.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-top: 2em;
  border: 4px solid var(--color-darkgreen);
  width: fit-content;
  background-color: white;
}

.contact-input-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input,
.input-wrapper textarea {
  min-width: 20em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  padding: 0.2em 0.3em;
  margin: 0.2em;
  font-family: "Montserrat";
}
.input-wrapper textarea {
  height: 10em;
  max-height: 40em;
  width: 98%;
  max-width: 100%;
}
p.error {
  font-size: 0.5em;
  color: red;
  margin: 0 0 0 5px;
  white-space: nowrap;
  display: flex;
}
.contact-label {
  font-weight: 800;
  padding: 1em 0.5em 0.5em;
}

#contact-from {
  display: flex;
  order: -1;
}

#firstName-contact {
  display: flex;
  order: 2;
  width: 30%;
}

#lastName-contact {
  display: flex;
  order: 3;
  width: 30%;
}

#email-contact {
  display: flex;
  order: 4;
  width: 30%;
}

#contact-send {
  display: flex;
  order: 5;
}

#subject-contact {
  display: flex;
  order: 6;
}

#message-contact {
  display: flex;
  order: 7;
}
@media only screen and (max-width: 450px) {
  .contact-wrapper {
    margin-top: 0em;
    border: 4px solid var(--color-darkgreen);
  }
}
