.ideas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ideas-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}
.ideas-search{

}
.ideas-input{

}