#header {
  position: fixed;
  display: flex;
  height: 6em;
  width: 100vw;
  justify-content: space-around;
  background-color: white;
  box-shadow: inset 0px -3px 0px -1px green;
}

#ngo-name {
  padding: 0.5em;
  font-weight: 800;
  font-size: large;
}

#logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

#logo {
  max-width: 100%;
  max-height: 100%;
  min-width: 3em;
}

#logo-and-name-wrapper {
  display: flex;
  align-items: center;
  width: 40%;
}

@media only screen and (min-width: 1200px) {
  #header {
    width: 75vw;
  }
}

#navbar {
  display: flex;
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#nnavbar-wrapper {
  display: flex;
}

#bar-icon-wrapper {
  display: none;
}
#bar-icon {
  max-width: 100%;
  max-height: 70%;
}

@media only screen and (max-width: 700px) {
  #navbar {
    display: none;
  }
  #bar-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  #navbar-wrapper {
    position: fixed;
    top: 6em;
    right: 0;
  }
  #navbar {
    flex-direction: column;
    width: 300px;
  }
  
  #navigation:hover #navbar {
    display: flex;
  }
}

@media only screen and (max-width: 450px) {
  #navbar {
    flex-direction: column;
    width: 100vw;
  }
}
