.menu-item {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0.5em 0em 0.5em;
    border-bottom: 4px solid var(--color-darkgreen);
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: var(--color-lightgray);
  }

.active {
    border-color: var(--color-greenyellow);
  }

  @media only screen and (max-width: 700px) {
    .menu-item {
      background-color: var(--color-lightgreen);
      height: 1.8em;
      border: none;
    }
    .menu-item:hover {
        background-color: var(--color-green);
      }
    .active {
      background-color: var(--color-gray);
    }
  }