.menu-item {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0.5em 0em 0.5em;
    border-bottom: 4px solid green;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #f4f4f4;
  }

.active {
    border-color: greenyellow;
  }

  @media only screen and (max-width: 700px) {
    .menu-item {
      background-color: rgb(110, 180, 17);
      height: 1.8em;
      border: none;
    }
    .menu-item:hover {
        background-color: rgb(82, 141, 5);
      }
    .active {
      background-color: #bbbbbb;;
    }
  }