.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
  top: 6em;
  justify-content: center;
  align-items: center;
}

.welcome{
  display: flex;
  justify-content: space-evenly;
}
.welcome-img{
  margin: 20px;
  height: 150%;
  width: 150%;
}

.welcome-intro{
  margin: 20px;
}