.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: center;
  min-height: fit-content;
  font-family: var(--font-primary);
}

#content {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
  top: 6em;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  #content {
    width: 75vw;
  }
}