.workshop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 1em 2em;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 74px -52px var(--color-dark)
}

.workshop-image-wrapper {
    display: flex;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.workshop-content {

}
.workshop-title {

}
.workshop-date {

}
.workshop-description {
    text-align: justify;
    padding: 1em;
}
.workshop-duration {

}
.workshop-info {

}
