.workshop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 1em 2em;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 74px -52px var(--color-dark)
}

.workshop-image-wrapper {
    display: flex;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.workshop-description {
    text-align: justify;
    padding: 1em;
    margin: 0;
}
.workshop-date {
    margin: 0;
}
.workshop-title {
    margin: 0;
    padding: 1em 0 0.2em 0;
}
.workshop-duration, .workshop-info{
    margin:0;
    padding-bottom: 0.3em;
}
